/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background: linear-gradient(to bottom, #ffffff, #d3d3d3); /* Fondo blanco con degradado en gris */
    color: #000; /* Texto en negro */
}

h1, h2 {
    color: #000; /* Texto en negro */
}

form {
    background: rgba(255, 255, 255, 0.8); /* Fondo más claro para el formulario */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #000; /* Texto en negro */
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #000; /* Texto en negro */
}

input, select, button {
    display: block;
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5; /* Fondo gris muy claro para los campos de entrada */
    color: #000; /* Texto en negro */
}

input:focus, select:focus {
    background-color: #e0e0e0; /* Fondo un poco más oscuro al enfocarse */
}

button {
    background: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

#reporte {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #000; /* Texto en negro */
}

.falta-cobrar {
    color: red;
    font-weight: bold;
}

.pagado {
    color: green;
    font-weight: bold;
}

#mensaje-edicion {
    background-color: #ffffcc; /* Amarillo suave */
    border: 1px solid #ffcc00; /* Borde amarillo */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
